<!--
    In this form user can authenticate by providing username and password by subiting data 
    with login button were sending data to login route.
-->

{% extends 'base.html' %}
{% block content %}
<h1>Log In</h1>
<form class="login" action="{{ url_for('authentication.login') }}" method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button class="button" type="submit">Login</button>
</form>
{% endblock %}